@model Framework.Core.ViewModels.PersonViewModel

@{
    ViewBag.Title = "Index";
}

<h2>People</h2><hr />

<span>@Model.PeopleCount</span>

<div class="container-fluid" id="people-container">
    
    <div id="table_container">
        <table class="display table table-condensed table-striped table-bordered" id="grid"></table>
    </div>
</div>

<script src="~/Scripts/Modules/people.module.js"></script>
<script>
    $(document).ready(function () {
        $("#people-container").People();
    });
</script>