@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET Boilerplate Framework</h1>
    <p class="lead">.NET Boilerplate Framework employs loose coupling with Dependancy Injection and is based on Domain Driven Design. It is a free web framework for building great Web applications.</p>
    <p><a href="https://github.com/jrbdeveloper/Boilerplate-Framework" class="btn btn-primary btn-lg">On GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Architecture</h2>
        <p>
            .NET Boilerplate Framework gives you a powerful, patterns-based way to build dynamic web applications that
            enables a clean separation of concerns and gives you full control for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://github.com/jrbdeveloper/Boilerplate-Framework/wiki/Framework-Architecture">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Publish Profiles</h2>
        <p>Create deployment profiles inside of Visual Studio so that you can publish the application and services to your local IIS to host and run locally. As a developer you know that when the application is deployed to a server it will operate as intended.</p>
        <p><a class="btn btn-default" href="https://github.com/jrbdeveloper/Boilerplate-Framework/wiki/Visual-Studio-Publish-Profiles">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Configuration</h2>
        <p>Workflow that a developer can exercise working with not only the application framework but also ensuring they have the latest code and are committing code changes when it makes most sense.</p>
        <p><a class="btn btn-default" href="https://github.com/jrbdeveloper/Boilerplate-Framework/wiki/IIS-Configuration">Learn more &raquo;</a></p>
    </div>
</div>